@model MwangiBlogApp.Models.EmailModel

<!-- s-content
    ================================================== -->
<section class="s-content s-content s-content--narrow">
    <div class="row">
        <div class="row">
            <div class="col-six tab-full">
                <h4>Where to Find Me</h4>
                <address>
                    Moses Mbutha Mwangi<br />
                    <abbr title="My Physical Address in Durham">P A:</abbr>
                    3612 Weatherby Dr<br />
                    <abbr title="My personal Telephone number">P:</abbr>
                    919.491.1432
                </address>
            </div>
            <div class="col-six tab-full">
                <h4>Contact Info</h4>
                <p>
                    <address>
                        <strong>Support:</strong>   <a href="mosesmwangi1979@gmail.com">mosesmwangi1979@gmail.com</a><br />
                        <strong>Marketing:</strong> <a href="venzauber@gmail.com">venzauber@gmail.com</a>
                    </address>
                </p>
            </div>
        </div>
    <hr />
        <div id="respond" class="col-full">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control full-width" ,placeholder="PLease enter your full name Your Name*"})
                    @Html.ValidationMessageFor(m => m.FromName)

                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control full-width", placeholder = "Please enter your email: example@email.com" })
                    @Html.ValidationMessageFor(m => m.FromEmail)

                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control full-width", placeholder = "Please type in the subject of your post" })
                    @Html.ValidationMessageFor(m => m.Subject)

                    <span>Type in you comment below</span>

                    @Html.TextBoxFor(m => m.Body, htmlAttributes: new { @id = "editor", @class = "form-control" })
                    <br />
                    <div class="form-field">
                        <button type="submit" class="submit btn btn--primary btn--large full-width">Send Message</button>
                    </div>
                </fieldset>
            }
        </div>
    </div><!-- s-content__main -->
</section> <!-- end s-content -->

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({ selector: '#editor' });
        });
    </script>

} 