@model MwangiBlogApp.Models.RegisterViewModel
<section class="s-content s-content s-content--narrow">

    <div class="row"> 
        <div id="respond" class="col-full">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Register as a user to post comments</h4>
                
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control full-width", placeholder="Enter Your First Name here*"})
                
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control full-width" , placeholder="Enter Your Second Name here*"})
                                               
                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control full-width" , placeholder="Enter Your Display Name here*"})
                                   
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control full-width" , placeholder="Enter Email here*"})

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control full-width" , placeholder="Enter Your Password here*"})
                                 
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control full-width" , placeholder="Enter your Confirmation Password here*"})

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </div>
    </div> <!-- s-content__main -->
    </section> <!-- end s-content -->
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
