@model MwangiBlogApp.Models.BlogPost




    <section class="s-content s-content--top-padding s-content--narrow">
        
           

    <article class="row entry format-standard">
         @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                <br />
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                <br />
            }
            else
            {
                @Html.ActionLink("BACK TO BLOGS", "Index")
            }
        <div class="entry__header col-full">
            <h1 class="entry__header-title display-1">
                @Html.DisplayFor(model => model.Title)
            </h1>
            <ul class="entry__header-meta">
                <li class="byline">By  Moses Mwangi  </li>
            </ul>
        </div>
        <div class="col-full entry__main">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dd>
                        @Html.DisplayFor(model => model.Abstract)
                    </dd>

                    <dd>
                        @Html.Raw(Model.Body)
                    </dd>
                    <dt>@Model.Created.ToString("MMMM d, yyyy")</dt>

                    <dd>@Model.Updated.ToString()</dd>
                </dl>
                @{ if (Model.MediaUrl != null)
                    {
                        <img class="img-responsive" src="@Model.MediaUrl" alt="My Image" width="10%" />
                    }
                }
            </div>
        </div>
        <div class="col-full">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("mySlug", Model.Slug)
                    @Html.Hidden("BlogPostId", Model.Id)

                    <textarea class="full-width" name="CommentBody" rows="5" cols="200"></textarea>
                    <br />
                    <button class="btn btn-primary" type="submit">Add</button>
                }
            }
            <hr />
            <div class="row">
                <div class="col-md-12">
                    Comment Section
                </div>
                <div class="row">
                    @{
                        var count = Model.Comments.Count();
                        var word = count == 1 ? "comment" : "Comments";
                    }
                    (@count @word...)
                </div>
            </div>
            @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
            {
                <hr />
                <div class="row">
                    <p> @comment.Body</p>
                    written by @comment.Author.Email on @comment.Created.ToString("dddd, dd MMMM yyyy HH:mm tt")
                </div>
            }
        </div>
    </article> <!-- end entry/article -->
            
        <div class="row">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </section>
@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({ selector: '#editor', them: 'simple', encoding: 'xml' });
        });
    </script>

}

