
@using PagedList
@using PagedList.Mvc
@model IPagedList<MwangiBlogApp.Models.BlogPost>

<!-- s-content-->
    <section class="s-content">
        @foreach (var item in Model)
        {

            <div class="row entries-wrap wide">
                <div class="entries-wrap wide">

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href=@Url.Action("Details", new { slug = item.Slug }) class="item-entry__thumb-link">
                                </a>
                            </div>

                            <div class="">
                                <hr />
                                <div class="item-entry__cat">
                                    <a href=@Url.Action("Details", new { slug = item.Slug })>@Html.DisplayFor(modelItem => item.Title)</a>
                                </div>

                                <h1 class="item-entry__title"><a href=@Url.Action("Details", new { slug = item.Slug })>@Html.DisplayFor(modelItem => item.Slug)</a></h1>

                                <div class="item-entry__date">
                                    @*@post.Created.ToString("dddd, dd MMMM yyyy")*@
                                    <a href="single-standard.html">Moses Mwangi @Html.DisplayFor(modelItem => item.Created) @DateTime.Now.ToString("dddd, dd MMMM yyyy")</a>
                                </div>
                                <hr />
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                </div> <!-- end entries -->
            </div> <!-- end entries-wrap -->
        }
    <div class="row">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    </section> <!-- end s-content -->
<!-- s-extra
================================================== -->
