
@using PagedList
@using PagedList.Mvc
@model IPagedList<MwangiBlogApp.Models.BlogPost>

<!-- s-content-->
<div class="">
            <div class="">
                <img src="images/thumbs/single/standard/standard-1000.jpg"
                     srcset="/images/thumbs/single/standard/standard-2000.jpg 2000w,
                                 /images/thumbs/single/standard/standard-1000.jpg 1000w,
                                 /images/thumbs/single/standard/standard-500.jpg 500w"
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </div>
        </div>
<section class="s-content">
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("CREATE POST", "Create", "BlogPosts", null, new { @class = "nav-link" })
        }
    </div>
   
    @foreach (var item in Model)
    {

        <div class="row entries-wrap wide">
            <div class="entries-wrap wide">

                <article class="col-block">

                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href=@Url.Action("Details", new { slug = item.Slug }) class="item-entry__thumb-link">
                            </a>
                        </div>

                        <div class="">
                            <hr />
                            <div class="item-entry__cat">
                                <h2><a href=@Url.Action("Details", new { slug = item.Slug })>@Html.DisplayFor(modelItem => item.Title)</a></h2>
                            </div>

                            @*<h1 class="item-entry__title"><a href=@Url.Action("Details", new { slug = item.Slug })>@Html.DisplayFor(modelItem => item.Slug)</a></h1>*@

                        <div class="item-entry__date">
                            @item.Created.ToString("dddd, MMMM yyyy")

                            @Html.DisplayFor(modelitem => item.Updated)
                            <br />
                            <a href="single-standard.html">Moses Mwangi @Html.DisplayFor(modelItem => item.Created)</a>

                        </div>
                            <hr />
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->
    }
    <div class="row">
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }));
    </div>
</section> <!-- end s-content -->
<!-- s-extra
================================================== -->
