<!doctype html>

    <html>

    <head>

        <!--- basic page needs
    ================================================== -->
        <meta charset="utf-8">
        <title>Mosblog</title>
        <meta name="Moses Mbutha Project Blog" content="Personal Blog about the budding Developer Moses Mwangi">
        <meta name="author" content="Moses Mbutha Mwangi">

        <!-- mobile specific metas
    ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
    ================================================== -->
        <link href="~/Content/base.css" rel="stylesheet" />
        <link href="~/Content/vendor.css" rel="stylesheet" />
        <link href="~/Content/main.css" rel="stylesheet" /
        <link href="~/Content/mosblog.css" rel="stylesheet" />>
        <link href="~/Content/PagedList.css" rel="stylesheet" />

        <!-- script
    ================================================== -->

        <script src="~/Scripts/modernizr.js"></script>

        <!-- favicons
    ================================================== -->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

    </head>

    <body id="top">

        <!-- preloader
    ================================================== -->
        <div id="preloader">
            <div id="loader" class="dots-fade">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <!-- header
    ================================================== -->
        <header class="s-header header">
            @using PagedList
            @using PagedList.Mvc
            <div class="header__logo">
                <p class="actionlink"> @Html.ActionLink("Mosblog", "Index", "BlogPosts")</p>
            </div>
            <!-- end header__logo -->
            <a class="header__search-trigger" href="#0"></a>
            <div class="header__search">
                @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "header__search-form", role = "search" }))
                {
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="searchStr" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                }

                <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
            </div>  <!-- end header__search -->

            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Navigate to</h2>

                <ul class="header__nav">
                    <li>@Html.ActionLink("Home", "Index", "BlogPosts")</li>
                    <li>@Html.ActionLink("About", "about", "Home")</li>
                    <li>@Html.ActionLink("Contacts", "contact", "Home")</li>
                    <li>@Html.ActionLink("Login", "login", "account")</li>                   
                </ul> <!-- end header__nav -->


            </nav> <!-- end header__nav-wrap -->

        </header> <!-- s-header -->
        <!-- s-Below Header-->
    

        @RenderBody();

        <!-- s-footer
    ================================================== -->

        <footer class="s-footer">

            <div class="s-footer__main">
                <div class="row">

                    <div class="col-six tab-full s-footer__about">

                        <h4>Moses Mwangi</h4>

                        <p>
                            <a href="https://www.linkedin.com/in/moses-mwangi-consulting-787a7431">My LinkedIn Profile</a>
                            <br />
                        </p>

                    </div>
                </div> <!-- end s-footer__main -->

                <div class="s-footer__bottom">
                    <div class="row">

                        @*<div class="col-six">
                            <ul class="footer-social">
                                <li>
                                    <a href="#1"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#2"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#3"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#5"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#6"><i class="fab fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>*@

                        <div class="col-six">
                            <div class="s-footer__copyright">
                                <span>
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> Moses Mbutha Mwangi || Designs <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/moses-mwangi-consulting-787a7431" target="_blank">Moses Mwangi LinkedIn</a>
                                </span>
                            </div>
                        </div>

                    </div>
                </div> <!-- end s-footer__bottom -->

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"></a>
                </div>
            </div>
        </footer> <!-- end s-footer -->
        <!-- Java Script
    ================================================== -->


        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/plugins.js"></script>
        <script src="~/Scripts/main.js"></script>
    </body>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

</html>



